.about-container {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}
.about-subsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
}
.subsection-body {
    max-width: 40rem;
    line-height: 1.4;
    font-weight: 500;
}
.cta-button {
    background-color: #d08879 !important;
    color: white !important;
    border: none !important;
    font-weight: bold !important;
    font-size: 1.25rem !important;
    width: 20rem !important;
    margin-top: 2rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.5rem !important;
    text-transform: uppercase !important;
    border-radius: 999999px !important;
    letter-spacing: .75px;
}
.cta-icon {
    fill: #ffffff !important;
}

@media screen and (max-width: 61.9375rem) {
    .about-subsection {
        justify-content: center;
    }
    .about-subsection .cta-button {
        margin: auto;
    }
}