.cta-container h1 {
  font-size: 3rem;
}
.cta-section {
  padding-bottom: 6rem;
}
.cta-section-btn .cta-btn {
  margin: auto;
}
.cta-section-btn .cta-btn:hover {
  margin: auto;
  transform: scale(1.02);
}
