nav {
  font-size: 1.5rem !important;
  background-color: #f5e5de;
}
.navbar-container {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
}
.brand {
    font-size: 1.5rem !important;
    color: #2e2725 !important;
}
.link-item {
    color: #d08879 !important;
}
.brand:hover,
.link-item:hover {
  border-bottom: 1px solid #d08879;
  padding-bottom: 3px;
  transform: scale(1.05);
}
.navbar-nav {
    column-gap: 2rem;
}