.projects-wrapper {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem 0 2rem 0;
}
.project-item:hover {
    cursor: pointer;
}
.card-body {
    text-align: center;
}
.card-title {
    font-size: 1.5rem;
}
.card-text {
    font-size: 1.125rem;
}
.card-body .project-btn {
    width: 15rem !important;
    font-size: 1rem !important;
    margin: 2rem auto 0 !important;
}
.card-body .project-btn:hover {
    transform: scale(1.02);
}
.projects-section-btn .more-projects-btn{
    margin: auto;
}
.projects-section-btn .more-projects-btn:hover {
    transform: scale(1.02);
}