.skills-certs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: 4rem;
}
.skills-wrapper, .certs-wrapper{
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
    gap: 1rem;
    flex: 1;
    flex-direction: column;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-basis: 60%;
}
.skill-card {
    width: 100%;
    font-size: 1.25rem;
}
@media screen and (min-width: 50rem) {
    .skills-wrapper, .certs-wrapper {
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: row;
    }
    .skill-card {
        flex: 35%;
    }
}

@media screen and (max-width: 50rem) {
    .skills-certs-wrapper h2 {
        text-align: center;
    }

}
.certs {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.certs .card-body, .skills .card-body {
    color: #d08879 !important;
}
.cert-card {
    width: 100%;
    font-size: 1.25rem;
}